* {
  box-sizing: border-box;
  margin: 3px;
  padding: 0;
}

header {
  background-color: rgb(78, 152, 180);
  background-size: auto;
  margin: 1px;
  padding: 40px 100px 1px;
  font-size: 20px;
  color: rgb(255, 255, 254);
}

h2 {
  font-size: 100%;
  font-style: italic;
  font-weight: inherit;
  color: rgb(255, 255, 254);
  font-family: arial, verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 300px;
}

h3 {
  margin:10px;
}

h4 {
  color: rgb(74, 152, 181);
  font-size: 1.25rem;
  margin-bottom: 10px;
  width: 1000px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 10px;
  margin-left: 0;
}

.link {
  color: black;
  margin: 10px;
}

.link-2 {
  color: white;
}

.change-text {
  color: rgb(74, 152, 181);
}

.change-text-2 {
  color: rgb(109, 184, 210);
  font-size: 2rem;
}

nav {
  padding-left: 100px;
  margin: 0;
  padding: 100;
  display: flex;
}

a {
  text-decoration:none;
}

p {
  padding-left: 10px;
}

aside {
  float: right;
  background-color: rgb(255, 255, 255);
}

section {
  background-color: rgb(255, 255, 255);
  padding: 100px;
  border: 0px;
  margin: 0px;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: arial, verdana, sans-serif;
}

footer {
  background-color: rgb(58, 58, 58);
  padding: 80px;
  color: rgb(255, 255, 254);
}

img.middle {
  vertical-align: center;
  padding: none;
}
