* {
  box-sizing: border-box;
  margin: 3px;
  padding: 0;
}

header {
  background-color: rgb(78, 152, 180);
  background-size: auto;
  margin: 1px;
  padding: 80px 100px 10px;
  font-size: 25px;
}

h1, h2 {
  color: rgb(255, 255, 254);
  font-family: arial, verdana, sans-serif;
}

h1, {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h2 {
  font-size: 100%;
  font-style: italic;
  font-weight: inherit;
  margin-top: 0px;
  margin-bottom: 80px;
  width: 300px;
}

h3 {
  margin:10px;
}

h4 {
  color: rgb(74, 152, 181);
  font-size: 1.5rem;
  margin: 20px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav {
  padding-left: 100px;
  margin: 0;
  padding: 100;
  display: flex;
}

a {
  text-decoration:none;
}

aside {
  float: right;
  background-color: white;
}

section {
  margin-left: 100px;
  background-color: white;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: arial, verdana, sans-serif;
}

footer {
  background-color: rgb(58, 58, 58);
  padding: 80px;
  color: rgb(255, 255, 254);
}

img.middle {
  vertical-align: center;
  padding: none;
}
/*

looks like a boxmodel is used for the heading background, there is padding on the left and right. Might be a position:center
different font for both h1 and h2

nav links are black font

*/
