* {
  box-sizing: border-box;
  margin: 2px;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: arial, verdana, sans-serif;
  color: rgb(58, 58, 58);
}

header {
  background-color: rgb(78, 152, 180);
  padding: 100px 162px 47px;
  text-align: left;
}

h1 {
  font-size: 75px;
  color: rgb(255, 255, 254);
  padding-left: 100px;
  display: flex;
}

h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 40px;
  display: flex;
  color: rgb(255, 255, 254);
  font-family: arial, verdana, sans-serif;
  margin-bottom: 30px;
  padding: 12px 100px;
  width: 50%;
}

h3 {
  padding: 85px 0px 10px 1px;
  font-size: 1.8rem;
  margin-left: 0px;
}

h4 {
  color: rgb(74, 152, 181);
  font-size: 1.72rem;
  display: flex;
  padding: 50px 0px 25px;
  line-height: 1.55;
}

.clear-float::after {
  content: "";
  display: block;
  clear: both;
}

.menu {
  background-color: rgb(235, 235, 235);
  padding: 0px 790px 0px 220px;
  margin: 33px 0px 33px 33px;
  list-style: none;
  font-size: 1.35rem;
  font-weight: bold;
  justify-content: space-evenly;
  display: flex;
}

.menu-link {
  color: rgb(58, 58, 58);
  margin: 10px;
  text-decoration: none;
}

.main-content {
  background-color: rgb(255, 255, 255);
  padding: 20px 75px 50px 298px;
  margin: 0px;
  width: 65%;
  float: left;
  line-height: 1.65;
  font-size: 1.3rem;
}

.change-text {
  color: rgb(78, 152, 181);
}

.change-text-2 {
  color: rgb(109, 184, 210);
  font-size: 1.95rem;
  padding: 87px 20px 0px 0px;
  line-height: 1.5;
}

.right-column {
  background-color: rgb(255, 255, 255);
  padding-right: 285px;
  margin: auto;
  width: 35%;
  float: left;
  display: flex;
  flex-direction: column;
}

.right-column > p, a {
  font-size: 1.3rem;
  line-height: 1.65;
  margin-left: 0px;
  text-align: left;
}

.right-column-link {
  color: rgb(78, 152, 180);
  text-decoration: none;
  padding: 10px 0px 35px;
}

.h3 {
  padding: 30px 0px 25px;
}

.figure {
  margin-left: 0px;
}

footer {
  background-color: rgb(58, 58, 58);
  padding: 100px;
  color: white;
  text-align: center;
}

.lower-logo {
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 254);
  text-align: center;
  display: block;
  line-height: 1.5;
}

.logo-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
